<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Whatsapp </title>
     
</head>
<body>
      
    
   <div class="main"> <h3>All Chats!</h3></div>
     <form class="middle" method="get" action="/chats/new">
        <button class="newbtn">New Chat...</button>
    </form>
   <% for(let chat of chats) {  %>
    <div class="chat">
         <p>From : <i> <%= chat.from %> </i></p>
         <div class="msg">
             <p><%= chat.msg  %></p>
            <form action="/chats/<%= chat._id %>/edit">
                <button>Edit</button>
            </form>
            <br>
            <form class="delete-form" action="/chats/<%= chat._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            <!-- <form action="/chats/<%= chat._id %>" method="get">
                <button>show</button>
            </form> -->
            </div>         
         <p>Recieved by <i> <%= chat.to %> </i></p>
         <hr>
         <p>Created at : <%= chat.created_at.toString().split(" ")[4] %></p>
         <br>
         <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
         <br>
        <% if (chat.updated_at) { %>
  <p>
    Updated at: 
    <%= chat.updated_at.toLocaleTimeString("en-IN", { hour: "2-digit", minute: "2-digit" }) %>, 
    <%= chat.updated_at.toDateString() %>
  </p>
<% } %>
    </div>
    <br><br>    
<% } %>
<script src="/app.js"></script>
</body>
</html>
 